<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>Startsida</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js" type="module"></script>
</head>

<body>
    <header>
        <img src="images/logo_jeja.svg" id="logo" alt="logo for creater">
        <nav>
            <ul>
                <li><a href="/" id="position">Startsida</a></li>
                <li><a href="/addcourse">Lägg till kurs</a></li>
                <li><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Lagrade kurser</h1>
        <form id="indexform" method="post"> <!-- skickar som HTTP POST-förfrågan -->
            <% courses.forEach(course => { %> <!-- loopar igenom kurslistan och genererar kod för varje kurs -->
                <div>
                    <h3><a href="<%= course.syllabus %>" title="Klicka här för att komma till kursplanen" target="_blank"><%= course.coursename %></a></h3>
                    <p>Kurskod: <%= course.coursecode %></p> <!-- variabeln course för att hämta hem kursinfo -->
                    <p>Progression: <%= course.progression %></p>
                    <div class="delete"><a href="/delete/<%= course.id %>">Radera</a></div>
                </div>
            <% }); %>
        </form>
    </main>

    <footer>
        <img src="images/logo_jeja.svg" alt="logo for creater">
        <p>Copyright Jennifer Jakobsson, 2024<br>
            dt207g Backend-baserad webbutveckling</p>
    </footer>

</body>

</html>